:root {
  --primary-color: #4263eb;
  --primary-alpha: rgba(66, 100, 235, 0.95);
  --secondary-color: #edf2ff;
  --secondary-color-alpha: rgba(145, 167, 255, 0.7);
  --primary-grey: #495057;
  --primary-grey-alpha: #495057f8;
  --secondary-grey: #e9ecef;
  --forkify: #e2b146aa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

/*---------------------------- Navigation */

#header .navbar-link .active {
  font-size: 1.5rem;
}

.navbar {
  transition: all 1s ease;
  padding: 1.5rem;
}

.navbar a {
  font-size: 1.2rem;
  /* margin-right: 1rem; */
  min-width: 95px;
  text-align: center;
}

.navbar img {
  /* background-color: #fff; */
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(106deg)
    brightness(105%) contrast(103%);
}

.navbar-collapse .nav-link {
  padding: 0;
}
.navbar .active {
  display: inline-block;
  font-size: 1.2rem;
}

.sticky {
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-alpha);
}

/* --------------------------------- Hero */
#hero {
  height: 100vh;
  background: url("../assets/img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
  top: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#hero:before {
  content: "";
  background: rgba(45, 53, 69, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  text-align: center;
  color: var(--secondary-grey);
  font-weight: 700;
}

.jumbotron {
  color: white;
  z-index: 1;
}
/* .hero-back{
  display: inline-block;
  padding: 1.5em 0;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
} */
@media (orientation: landscape) {
  #hero {
    padding-top: 7rem;
    font-size: 1rem;
  }

  #hero .container {
    text-align: left;
  }
}

#hero h1,
h2 {
  font-weight: bold;
}

#hero h1 {
  margin-bottom: 0.5em;
}

/* About me */
#about {
  color: var(--primary-grey);
  transition: transform 1s, opacity 1s;
}

#about h1 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#about p {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.8em;
}

#about img {
  border-radius: 20px;
}

/* ---------------------------------- Techs */
.techs {
  padding: 15px 0;
  text-align: center;
  background-color: var(--secondary-color);
}

.techs img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
  width: 100px;
  height: 130px;
}

.techs img:hover {
  filter: none;
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .techs img {
    max-width: 40%;
  }
}
/* ---------------------------- Formation */

#formacion {
  color: var(--primary-grey);
  transition: transform 1s, opacity 1s;
}

#formacion h1 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#formacion p.lead {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.8em;
}

#formacion em a {
  text-decoration: none;
  margin-left: 1em;
  color: var(--primary-color);
}

.section-title {
  padding-bottom: 30px;
  background-color: #fff;
  display: inline-block;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.bg-blue {
  background-color: var(--secondary-color);
}

.bg-white {
  background-color: #fff;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* ---------------------------- Portfolio */
#portfolio {
  color: var(--primary-grey);
  transition: transform 1s, opacity 1s;
}

.btn {
  transition: all 0.5s;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn img {
  transition: all 0.5s;
}

#portfolio button {
  border: 3px solid var(--primary-color);
  /* transition: all 0.4s ease; */
}

#portfolio button:hover {
  background-color: var(--primary-color);
  transform: translateY(-0.2rem);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

#portfolio button:hover img {
  /* transition: all 0.4s ease; */
}

#portfolio button:hover img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(106deg)
    brightness(105%) contrast(103%);
}

#portfolio button:active {
  transform: translateY(0px);
  box-shadow: none;
}

#portfolio p.lead {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.8em;
}

#portfolio h1 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.portfolio {
  position: relative;
  transition: all 0.5s ease-in-out;
  max-width: 90%;
}

.portfolio:hover {
  transform: translateY(-1.2rem);
  z-index: 999;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.d-grid {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
  row-gap: 2rem;
  justify-content: center;
  justify-items: center;
}

@media (max-width: 992px) {
  .d-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .d-grid {
    grid-template-columns: auto;
  }
}

.card-text {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8em;
}

.btn-group-sm > .btn,
.btn-sm {
  --bs-btn-border-radius: 0.4rem;
}

.btn-group button:hover {
  background-color: var(--primary-color);
}

.album-bg {
  background-color: var(--secondary-color);
}

.element-title {
  user-select: none;
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 55%;
  margin-top: -70px;
  z-index: 1;
}

/* .project-title {
  content: "Forkify";
  user-select: none;
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
  position: absolute;
  left: 50%;
  margin-left: -70px;
  top: 55%;
  margin-top: -70px;
  z-index: 1;
} */

@media (max-width: 990px) {
  .element-title {
    top: 45%;
  }
}

@media (max-width: 768px) {
  .element-title {
    top: 50%;
  }
}

@media (max-width: 576px) {
  .element-title {
    top: 55%;
  }
}
/* ------------------------------ Contact */
.box-shadow {
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
}

.round-border {
  border-radius: 15px;
}
#contacto {
  color: var(--primary-grey);
  transition: transform 1s, opacity 1s;
}

#contacto h1 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#contacto p.lead {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.8em;
}

.boton {
  border: 3px solid var(--primary-color);
  transition: all 0.5s ease;
  color: var(--primary-color);
  background-color: #fff;
}

.boton:hover {
  background-color: var(--primary-color);
  transform: translateY(-10px);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.boton:active {
  transform: translateY(0px);
  box-shadow: none;
}

/* ------------------------------------------------------------------------------- */
.form-group {
  position: relative;
  padding: 25px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--primary-grey);
  outline: 0;
  font-size: 1rem;
  /* color: var(--secondary-color); */
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  /* &::placeholder {
    color: transparent;
  } */

  /* &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  } */
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-grey);
}

.form-field:focus .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: 700;
  background-color: var(--secondary-color);

  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  border-image-slice: 1;
  background-color: var(--secondary-color);
}
/* reset input */
/* .form-field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
} */

/* ----------------------------------------------------------------------------------- */
/* ------------------------------- Footer */
.text-body-secondary {
  font-size: 1.2rem;
  margin-right: 1rem;
  color: var(--primary-grey);
}

.bg-dark-blue {
  background-color: var(--primary-color);
}

.footer-text {
  color: var(--secondary-grey);
}

.footer-text:hover {
  color: #fff;
}

.footer p {
  color: var(--secondary-color);
}

.footer img {
  /* background-color: #fff; */
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(106deg)
    brightness(105%) contrast(103%);
}
/*//////////// ANIMATIONS */
/* Loading animation */
/* .loading {
  text-transform: uppercase;
  position: relative;
  font-size: 5em;
  border-bottom: 16px solid #fff;
  display: inline-block;
  letter-spacing: 0.05em;
  line-height: 1.2em;
}

.loading:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #91a7ff;
  overflow: hidden;
  border-bottom: 16px solid #91a7ff;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
} */

/* Underline animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.underline {
  border-bottom: 2px solid #fff;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Wavy animation */
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 30px;
  margin-top: 50px;
}
.waviy span {
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

.bezier h1 {
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.bezier span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.bezier span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.bezier span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.bezier span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.bezier span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.bezier span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.bezier span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.bezier span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.bezier span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.status {
  display: block;
}
